@font-face {
    font-family: Inter;
    src: url(/FONTS/Inter-VariableFont_slnt\,wght.ttf);
  }
  
  :root {
    --whitecsm: #FFFFFF;  
    --bluecsm: #2A79C7;
    --greycsm: #3f4756;
    --limecsm: #74FAC8;
    --pinkcsm: #D14699;
  }
  
.header {
    background-color: var(--greycsm);
    width: 98vw;
    height: 180px;
    display: inline-block;
  }
  
  .headerdecor {
    height: 180px;
    width: 98vw;
    display: inline-flex;
  }

  .logo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
  }
  

  .csm /*Headertitle*/{ 
    font-family: Inter;
    font-size: 80px;
    color: var(--whitecsm);
    max-width: 650px;
    height: 180px;
    position: center;
    margin-left: 10px;
    margin-top: -8px;
    z-index: 1;
  }
  
  
  /* DECOR */
  .decor {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0px; /* mellomrom mellom fargene*/ 
    width: 25vw; /* width på den lengste fargen */
    top: 8px; /* avstand fra toppen */
    right: 0.5%;
    height: 180px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  .headerblue {
    background-color: var(--bluecsm);
    width: 100%;
    height: 60px; /* høyden på fargene */
    float: right;
  }
  
  .headergreen {
    background-color: var(--limecsm);
    width: 75%;
    height: 60px; /* høyden på fargene */
    float: right;
  }
  
  .headerpink {
    background-color: var(--pinkcsm);
    width: 50%;
    height: 60px; /* høyden på fargene */
    float: right;
  }
  
  .headerpink h2 {
    font-family: Inter;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 5%;
    margin-right: 40%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }



  /* NAV  */  



#mobilenav {
    display: none;
}



#browsernav {
    height: 50px;
    width: 100vw;
    background-color: var(--whitecsm);
}

.menu-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.menu-content a {
    color: var(--greycsm);
    font-family: Inter;
    font-size: 125%;
    text-decoration: none;
    font-weight: bold;
    margin: 1px;
    padding: 10px 10px 10px 10px;
    
}
  
    /* Change color of dropdown links on hover */
.menu-content a:hover {text-decoration: underline; } 
  
  
  /* FOOTER */
 
.footer {
    background-color: var(--greycsm);
    width: device-width;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
}
  
.footercontent {
    margin-left: 20%;
    align-content: center;
    height: fit-content;
}
  
.footergrey {
    display: grid;
    grid-template-columns: auto auto auto;
}
  
.footergrey p {
    font-family: Inter;
    font-size: 16px;
    color: var(--whitecsm);
    margin-left: 10px;
    height: fit-content;
}
  
a {
    font-family: Inter;
    font-size: 16px;
    color: var(--whitecsm);
    display: block;
    margin: 16px 0 16px 10px;
}
  
/* } */
  
  /* Small devices/tablets */
  
  
  
  
@media (max-width:1250px){
  
.csm { 
    position: relative;
    margin-left: 1vw;
    width: 5vw;
    margin-top: 3px;
    display: inline-block;
}
  
.headerdecor h1 {
    font-family: Inter;
    font-size: 3rem;
}
    
.headerpink h2 {
    margin-right: 15%;
    margin-top: 10px;
}
  

  /* NAV */


#browsernav {
    display: none;
}

#mobilenav {
    display: block;
    height: 20vh;
    width: 20vw;
    top: 125px;
    right: 0px;
}


input[type="checkbox"] {
    visibility: hidden;
    height: 60px;
    width: 100px;
    position: absolute;
    top: 400px;
    right: 0px;
    z-index: 1;
  }
  
label {
    position: absolute;
    right: 50px;
    top: 140px;
    
} 

label img {
    width: 50%;
}

  input[type="checkbox"]:checked ~ ul {
    display: block;
  }
  
  .dropdown ul {
    display: none;
    background-color: var(--whitecsm);
    height: 220px;
    width: 95vw;
    position: relative;
    right: 0px;
    text-align: center;
    margin-top: 5px;  
    }

  li {
    font-family: Inter;
    font-size: 125%;
    font-weight: bold;
    color: var(--greycsm);
    list-style: none;
}
  
  .logo {
    display: block;
    width: auto;
    height: 150px;
    margin-top: 15px;
  }

  /* end of header */
  
  /* FOOTER */
  
.footercontent {
    margin-left: 10%;
}
   
}
  
  
  
  
  /*Smaller devices/phones */
  
  
  
  
@media (max-width:750px){
  
.header /*delete when done*/{
    background-color: var(--greycsm);
    width: device-width;
    height: 102px;
}
  
.index /*delete when done*/{
    width: device-width;
    height: 100px;
    z-index: 1;
}
  
.logo {
    display: block;
    width: auto;
    height: 80px;
    margin-top: 10px;
    margin-left: 5%;
}
  
.csm /*delete when done*/{ 
    position: relative;
    margin-left: 2%;
    margin-top: -140px;
    width: 10vw;
    display: inline-block;
}
  
.headerdecor h1 {
    font-family: Inter;
    font-size: 1.5em;
    width: 20%;
    margin-top: 10px;
    z-index: 1;
}
  
  
  /* DECOR */
.decor /*delete when done*/{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0px; /* mellomrom mellom fargene*/ 
    width: 35vw; /* width på den lengste fargen */
    top: 8px; /* avstand fra toppen */
    right: 0.5%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
  
.headerblue {
    background-color: var(--bluecsm);
    width: 100%;
    height: 34px; /* høyden på fargene */
    float: right;
}
  
.headergreen {
    background-color: var(--limecsm);
    width: 75%;
    height: 34px; /* høyden på fargene */
    float: right;
}
  
.headerpink {
    background-color: var(--pinkcsm);
    width: 50%;
    height: 34px; /* høyden på fargene */
    float: right;
}
  
.headerpink h2 {
    font-family: Inter;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-right: 20%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
  
  /* NAV */
  
label {
    top: 77px;
    margin-right: 0px;
    
}
      
.dropdown ul {
  display: none;
  background-color: var(--whitecsm);
  height: 220px;
  width: 95vw;
  position: relative;
  right: 0px;
  text-align: center;
  margin-top: -70px;  
  }

li {
  font-size: 100%;
}


  /* end of header */
  
  /* FOOTER */
  
.footer {
    background-color: var(--greycsm);
    width: device-width;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
}
  
.footercontent {
    margin-left: 5%;
}
  
.footergrey {
    display: grid;
    grid-template-columns: auto;
}
  
}
  
  
  
  /* Extra small devices */
  
  @media  (max-width:500px){
    
    .logo {
      display: none;
    }

    .headerdecor h1 {
        font-family: Inter;
        font-size: 1.5em;
        width: 20%;
        margin-top: 10px;
        z-index: 1;
        margin-left: 5vw;
    }

    .header {
        width: 85vw;
    }
    
    /* .headerdecor h1{
      font-family: Inter;
      font-size: 4vw;
      color: var(--whitecsm);
    } */
  
    .headerpink h2 {
      margin-right: 10%;
    }
  
    .dropdown-content {
      margin-top: 25px;
    }
  
    .dropbtn {
      margin-top: 18%;
      font-size: 1.5rem;
    }

    label {
        margin-right: -1.5rem;
    }
  
    /* FOOTER */
  
    .footer {
      background-color: var(--greycsm);
      width: device-width;
      height: fit-content;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 10px;
    }
    
    .footercontent {
      margin-left: 5%;
      align-content: center;
      height: fit-content;
    }
    
    .footergrey {
      display: grid;
      grid-template-columns: auto;
    }
    
    .footergrey p {
      font-family: Inter;
      font-size: 14px;
      color: var(--whitecsm);
      margin-left: 10px;
      height: fit-content;
    }
    
    a {
      font-family: Inter;
      font-size: 14px;
      color: var(--whitecsm);
      display: block;
      margin: 16px 0 16px 10px;
    }
  
  }