@font-face {
    font-family: Inter;
    src: url(/FONTS/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  --whitecsm: #FFFFFF;  
  --bluecsm: #2A79C7;
  --greycsm: #3f4756;
  --limecsm: #74FAC8;
  --pinkcsm: #D14699;
}

.header {
    background-color: var(--greycsm);
    width: device-width;
    height: 180px;
}

.index {
  width: device-width;
  height: 180px;
  z-index: 1;
}

.indexlogo, .logoblue, .logolime, .logopink, .logowhite {
    position: relative;
    width: 130px;
    margin-top: 15px;
    margin-left: 12%;
}

.csm { 
    position: relative;
    margin-left: 2%;
    margin-top: -140px;
    width: 750px;
    display: inline-block;
}

/* DECOR */
.decor {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0px; /* mellomrom mellom fargene*/ 
  width: 25vw; /* width på den lengste fargen */
  top: 8px; /* avstand fra toppen */
  right: 0.5%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.headerblue {
  background-color: var(--bluecsm);
  width: 100%;
  height: 60px; /* høyden på fargene */
  float: right;
}

.headergreen {
  background-color: var(--limecsm);
  width: 75%;
  height: 60px; /* høyden på fargene */
  float: right;
}

.headerpink {
  background-color: var(--pinkcsm);
  width: 50%;
  height: 60px; /* høyden på fargene */
  float: right;
}

/* NAV */

nav {
    height: 200px;
    width: 500px;
    margin-top: -135px;
    z-index: 1;
}


/* Dropdown Button */
.dropbtn {
    background-color: #2A79C700;
    color: white;
    padding: 16px;
    border: none;
    width: 98vw;
    height: 50px;
    overflow: hidden;
    text-align: right;
    font-family: Inter;
    font-weight: bold;
    /* z-index: 1;             */
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    }

    /* Dropdown Button */
    .dropbtn {
      background-color: #2A79C700;
      color: white;
      padding: 16px;
      font-size: 35px;
      border: none;
      z-index: 1;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      margin-right: 100px;
      width: 98vw;
      text-align: right;
      margin-right: 50px;
      overflow: hidden;
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #FFFFFF00;}
  
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: right;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #3F4756;
    font-family: Inter;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {}

/* end of header */

/* FOOTER */

.footer {
    background-color: var(--greycsm);
    width: device-width;
    height: 50px;
    margin-top: 10px;
}

/* Small devices/tablets */

@media (max-width:1250px){
  .header {
    background-color: var(--greycsm);
    width: device-width;
    height: 180px;
}

.index {
  width: device-width;
  height: 180px;
  z-index: 1;
}

.indexlogo, .logoblue, .logolime, .logopink, .logowhite {
    position: relative;
    width: 130px;
    margin-top: 15px;
    margin-left: 12%;
}

.csm { 
    position: relative;
    margin-left: 2%;
    margin-top: -140px;
    width: 750px;
    display: inline-block;
}

/* DECOR */
.decor {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0px; /* mellomrom mellom fargene*/ 
  width: 25vw; /* width på den lengste fargen */
  top: 8px; /* avstand fra toppen */
  right: 0.5%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.headerblue {
  background-color: var(--bluecsm);
  width: 100%;
  height: 60px; /* høyden på fargene */
  float: right;
}

.headergreen {
  background-color: var(--limecsm);
  width: 75%;
  height: 60px; /* høyden på fargene */
  float: right;
}

.headerpink {
  background-color: var(--pinkcsm);
  width: 50%;
  height: 60px; /* høyden på fargene */
  float: right;
}

/* NAV */

nav {
    height: 200px;
    width: 500px;
    margin-top: -135px;
    z-index: 1;
}


/* Dropdown Button */
.dropbtn {
    background-color: #2A79C700;
    color: white;
    padding: 16px;
    border: none;
    width: 98vw;
    height: 50px;
    overflow: hidden;
    text-align: right;
    font-family: Inter;
    font-weight: bold;
    /* z-index: 1;             */
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    }

    /* Dropdown Button */
    .dropbtn {
      background-color: #2A79C700;
      color: white;
      padding: 16px;
      font-size: 35px;
      border: none;
      z-index: 1;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      margin-right: 100px;
      width: 98vw;
      text-align: right;
      margin-right: 50px;
      overflow: hidden;
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #FFFFFF00;}
  
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: right;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #3F4756;
    font-family: Inter;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {}

/* end of header */

/* FOOTER */

.footer {
    background-color: var(--greycsm);
    width: device-width;
    height: 50px;
    margin-top: 10px;
}
  
}

/*Small devices/phones */

@media (max-width:750px){

  .header {
    background-color: var(--greycsm);
    width: device-width;
    height: 102px;
  }

  .index {
    width: device-width;
    height: 100px;
    z-index: 1;
  }

  .indexlogo, .logoblue, .logolime, .logopink, .logowhite {
    position: relative;
    width: 12vw;
    margin-top: 2vh;
    margin-left: 5%;
}

.csm { 
    position: relative;
    margin-left: 2%;
    margin-top: -140px;
    width: 750px;
    display: inline-block;
}

.headerdecor h1 {
  font-family: Inter;
  font-size: 1.5em;
  width: 50%;
  margin-top: .5em;
}


/* DECOR */
.decor {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0px; /* mellomrom mellom fargene*/ 
  width: 35vw; /* width på den lengste fargen */
  top: 8px; /* avstand fra toppen */
  right: 0.5%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.headerblue {
  background-color: var(--bluecsm);
  width: 100%;
  height: 34px; /* høyden på fargene */
  float: right;
}

.headergreen {
  background-color: var(--limecsm);
  width: 75%;
  height: 34px; /* høyden på fargene */
  float: right;
}

.headerpink {
  background-color: var(--pinkcsm);
  width: 50%;
  height: 34px; /* høyden på fargene */
  float: right;
}

/* NAV */

nav {
    height: 120px;
    width: 128vw;
    margin-top: -135px;
    z-index: 1;
}


/* Dropdown Button */
.dropbtn {
    background-color: #2A79C700;
    color: white;
    padding: 16px;
    border: none;
    width: 100vw;
    height: 50px;
    overflow: hidden;
    text-align: right;
    font-family: Inter;
    font-weight: bold;
    margin-top: 8vh;
    font-size: 1.5rem;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    }
   
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      margin-right: 100px;
      width: 98vw;
      text-align: right;
      margin-right: 50px;
      overflow: hidden;
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #FFFFFF00;}
  
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: right;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #3F4756;
    font-family: Inter;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {}

/* end of header */

/* FOOTER */

.footer {
    background-color: var(--greycsm);
    width: device-width;
    height: 50px;
    margin-top: 10px;
}
}