@font-face {
    font-family: Inter;
    src: url(/FONTS/Inter-VariableFont_slnt\,wght.ttf);
  }
  
  :root {
    --whitecsm: #FFFFFF;  
    --bluecsm: #2A79C7;
    --greycsm: #3f4756;
    --limecsm: #74FAC8;
    --pinkcsm: #D14699;
  }

/* HEADER */

.header {
    background-color: var(--greycsm);
    width: 98vw;
    height: 180px;
    display: inline-block;
    }
  
.headerdecor {
    height: 180px;
    width: 98vw;
    display: inline-flex;
    }

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    }
  

.csm /*Headertitle*/{ 
    font-family: Inter;
    font-size: 500%;
    color: var(--whitecsm);
    max-width: 40vw;
    height: 180px;
    position: center;
    margin-left: 10px;
    margin-top: 0;
    z-index: 1;
    object-fit: cover;
    }
  
  
  /* HEADER DECOR */
.decor {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0px; /* mellomrom mellom fargene*/ 
    width: 25vw; /* width på den lengste fargen */
    top: 8px; /* avstand fra toppen */
    right: 0.5%;
    height: 180px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    }
  
.headerblue {
    background-color: var(--bluecsm);
    width: 100%;
    height: 60px; 
    float: right;
    }
  
.headergreen {
    background-color: var(--limecsm);
    width: 75%;
    height: 60px; 
    float: right;
    }
  
.headerpink {
    background-color: var(--pinkcsm);
    width: 50%;
    height: 60px; 
    float: right;
    }
  

    /* NAV  */  

.nav-active {
    text-decoration: underline var(--greycsm);
    /* text-underline-offset: 5px; */
    opacity: 1;
}

li {
    opacity: 1;
    list-style: none;
    }

#mobilenav {
    display: none;
    }

#browsernav {
    height: 0px;
    width: 100vw;
    background-color: var(--whitecsm);
    z-index: 1;
    }

.menu-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    }

.menu-content a {
    color: var(--greycsm);
    font-family: Inter;
    font-size: 125%;
    text-decoration: none;
    font-weight: bold;
    margin: 15px;
    padding: 10px 10px 10px 10px;
    }
  
    /* Change appearance of links on hover */
.menu-content a:hover {text-decoration: underline; } 
  
  
  /* FOOTER */
 

.footer {
    background-color: var(--greycsm);
    width: device-width;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    }
  
.footercontent {
    margin-left: 20%;
    align-content: center;
    height: fit-content;
    }
  
.footergrey {
    display: grid;
    grid-template-columns: auto auto auto;
    }
  
.footergrey p {
    font-family: Inter;
    font-size: 16px;
    color: var(--whitecsm);
    margin-left: 10px;
    height: fit-content;
    }
  
a {
    font-family: Inter;
    font-size: 16px;
    color: var(--whitecsm);
    display: block;
    margin: 16px 0 16px 10px;
    }
  

  
  /* Small devices/tablets */
    
  
  
@media (max-width:1250px){
  
.csm { 
    position: relative;
    margin-left: 1vw;
    width: 5vw;
    margin-top: 3px;
    display: inline-block;
    }
  
.headerdecor h1 {
    font-family: Inter;
    font-size: 3rem;
    }
    
  

  /* NAV */

#browsernav {
    display: none;
    }

#mobilenav {
    display: block;
    height: 20vh;
    width: 20vw;
    top: 125px;
    right: 0px;
    }


input[type="checkbox"] {
    visibility: hidden;
    height: 60px;
    width: 100px;
    position: absolute;
    top: 400px;
    right: 0px;
    z-index: 1;
    }
  
label {
    position: absolute;
    width: 70px;
    right: 0px;
    top: 130px;
    padding-right: 10px;
    display: grid;
    place-items: center;
    overflow: hidden;
    } 

label img {
    width: 80%;
    }

  input[type="checkbox"]:checked ~ ul {
    display: block;
    }
  
  .dropdown ul {
    display: none;
    background-color: var(--whitecsm);
    height: 220px;
    width: 95vw;
    position: relative;
    right: 0px;
    text-align: center;
    margin-top: 5px;  
    }

  li {
    font-family: Inter;
    font-size: 125%;
    font-weight: bold;
    color: var(--greycsm);
    list-style: none;
    }
  
  .logo {
    display: block;
    width: auto;
    height: 150px;
    margin-top: 15px;
    }

  
  /* FOOTER */
  
.footercontent {
    margin-left: 10%;
  }
   
}
  
  

/*Smaller devices/phones */
  
@media (max-width:750px){
  
.header {
    background-color: var(--greycsm);
    width: device-width;
    height: 102px;
    }
  
.logo {
    display: block;
    width: auto;
    height: 80px;
    margin-top: 10px;
    margin-left: 5%;
    }
  
.csm { 
    position: relative;
    margin-left: 2%;
    margin-top: -140px;
    width: 10vw;
    display: inline-block;
    }
  
.headerdecor h1 {
    font-family: Inter;
    font-size: 1.5em;
    width: 20%;
    margin-top: 10px;
    z-index: 1;
    }
  
  
  /* DECOR */
.decor {
    width: 35vw; /* width på den lengste fargen */
    }
  
.headerblue {
    height: 34px; 
    }
  
.headergreen {
    height: 34px; 
    }
  
.headerpink {
    height: 34px; /* høyden på fargene */
    }
  

  
  /* NAV */
  

label {
    top: 75px;
    margin-right: 0px;
    }

label img {
    width: 50%;
    }
      
.dropdown ul {
    display: none;
    background-color: var(--whitecsm);
    height: 220px;
    width: 95vw;
    position: relative;
    right: 0px;
    text-align: center;
    margin-top: -70px;  
    }

li {
    font-size: 100%;
    }


  
  /* FOOTER */
  
  
.footer {
    background-color: var(--greycsm);
    width: device-width;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    }
  
.footercontent {
    margin-left: 5%;
    }
  
.footergrey {
    display: grid;
    grid-template-columns: auto;  
    }
  
}
  
  
  
  /* Extra small devices / sub 500px */

  

@media  (max-width:500px){
    
.logo {
    display: none;
    }

.headerdecor h1 {
    font-family: Inter;
    font-size: 1.5em;
    width: 20%;
    margin-top: 10px;
    z-index: 1;
    margin-left: 5vw;
    }

.header {
    width: 85vw;
    }
    
.dropdown-content {
    margin-top: 25px;
    }
  
label {
    margin-right: -1.5rem;
    }
  
    /* FOOTER */
  
.footer {
    background-color: var(--greycsm);
    width: device-width;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    }
    
.footercontent {
    margin-left: 10%;
    align-content: center;
    height: fit-content;
    }
    
.footergrey {
    display: grid;
    grid-template-columns: auto;
    }
    
.footergrey p {
    font-family: Inter;
    font-size: 14px;
    color: var(--whitecsm);
    margin-left: 10px;
    height: fit-content;
    }
    
a {
    font-family: Inter;
    font-size: 14px;
    color: var(--whitecsm);
    display: block;
    margin: 16px 0 16px 10px;
    }
  
}