@font-face {
    font-family: Inter;
    src: url(/FONTS/Inter-VariableFont_slnt\,wght.ttf);
}

h1 {
    font-family: Inter;
    font-size: 80px;
    font-weight: bolder;
    color: #FFFFFF;
}

h2 {
  font-family: Inter;
  font-size: 50px;
  font-weight: bolder;
  color: #FFFFFF;
}

p {
    font-family: Inter;
    font-size: 15px;
    color: #FFFFFF;
}

.main {
  margin-top: 50px;
  width: device-width;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-gap: 50px;
}


.blue {
  background-color: #2A79C7;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 43px;
  overflow: hidden;
  }

.blue p {
  color: #FFFFFF;
  width: 33vw;
  padding-bottom: 10%;
}

.green {
  background-color: #74FAC8;
  height: 100%;
  width: device-width;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 43px;
  overflow: hidden;
}

.green p {
  color: #3F4756;
  width: 33vw;
  padding-bottom: 10%;
}

.green h2 {
  color: #3F4756;
}

.pink {
  background-color: #D14699;
  height: 100%;
  width: device-width;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 43px;
  overflow: hidden;
}

.pink p {
  color: #FFFFFF;
  background-color: #D14699;
  width: 33vw;
  margin-bottom: 10%;
}

.imageleft, .imageright {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Smaller devices/tablets */  

@media (max-width: 1200px){
  .main {
    margin-top: 50px;
    width: device-width;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
  }
 
  .blue {
    background-color: #2A79C7;
    height: fit-content;
    width: device-width;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    overflow: hidden;
  }
  
  .blue p {
    color: #FFFFFF;
    height: fit-content;
    width: 60%;
    margin-left: 5%;
    margin-right: 15%;
    padding-bottom: 10%;
    min-width: 25vw;
  }

  h2 {
    margin-left: 5%;
  }
  
  .green {
    background-color: #74FAC8;
    height: 30vh;
    width: device-width;
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 20px;
    overflow: hidden;
  }
  
  .green p {
    color: #3F4756;
    height: fit-content;
    width: 60%;
    margin-left: 5%;
    margin-right: 15%;
    padding-bottom: 10%;
    min-width: 25vw;
  }
  
  .pink {
    background-color: #D14699;
    /* height: 100%; */
    height: 30vh;
    width: device-width;
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 20px;
    overflow: hidden;
  }
  
  .pink p {
    color: #FFFFFF;
    background-color: #D14699;
    height: fit-content;
    width: 60%;
    margin-left: 5%;
    margin-right: 15%;
    padding-bottom: 10%;
    min-width: 25vw;
  }
  
  .imageleft {
  width: 100%;
  }
  
  .imageright {
  display: none;
  }
}

/* Smallest devices/phones */

@media (max-width: 750px){
  .main {
    margin-top: 10px;
    width: device-width;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
  }
 
  .blue {
    background-color: #2A79C7;
    height: fit-content;
    width: device-width;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    overflow: hidden;
    padding-bottom: 10%;
  }
  
  .blue p {
    color: #FFFFFF;
    height: fit-content;
    width: 80%;
    margin-left: 10%;
    min-width: 25vw;
  }

  .blue h2 {
    margin-left: 10%;
  }
  
  .green {
    background-color: #74FAC8;
    height: fit-content;
    width: device-width;
    display: grid;
    grid-template-columns: auto ;
    grid-gap: 10px;
    overflow: hidden;
    padding-bottom: 10%;
  }
  
  .green p {
    height: fit-content;
    width: 80%;
    margin-left: 10%;
    min-width: 25vw;
    margin-top: 10%;
  }

  .green h2 {
    margin-left: 10%;
  }
  
  
  .pink {
    background-color: #D14699;
    height: fit-content;
    width: device-width;
    display: grid;
    grid-template-columns: auto ;
    grid-gap: 10px;
    overflow: hidden;
  }
  
  .pink p {
    height: fit-content;
    color: #FFFFFF;
    background-color: #D14699;
    width: 80%;
    margin-left: 10%;
    min-width: 25vw;
    margin-top: 10%;
  }
  
  .pink h2 {
    margin-left: 10%;
  }
  
  .textcenter {
    height: fit-content;
    width: fit-content;
  }

  .imageright {
  display: none;
  visibility: hidden;
  }
}

@media (max-width:550px) {

  .blue p {
    height: fit-content;
    width: 80%;
    margin-left: 10%;
    min-width: 15vw;
    margin-top: 10%;
  }
  
  .green p {
    height: fit-content;
    width: 80%;
    margin-left: 10%;
    min-width: 15vw;
    margin-top: 10%;
  }

  .pink p {
    height: fit-content;
    color: #FFFFFF;
    background-color: #D14699;
    width: 80%;
    margin-left: 10%;
    min-width: 15vw;
    margin-top: 10%;
  }

  h2 {
    font-size: 12vw;
  }
}