@font-face {
  font-family: Inter;
  src: url(/FONTS/Inter-VariableFont_slnt\,wght.ttf);
}

h1 {
  font-family: Inter;
  font-size: 80px;
  font-weight: bolder;
  color: #FFFFFF;
}

p {
  font-family: Inter;
  font-size: 15px;
  color: #FFFFFF;
}

.main {
  margin-top: 20px;
  width: device-width;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.grey {
  background-color: #3F4756;
  height: 500px;
}

.grey h2 {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 35px;
  margin-left: 25%;
  line-height: smaller;
  margin-top: 100px;
}

.grey p {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 15px;
  margin-left: 25%;
  width: 60%;
}

#news {
  font-family: Inter;
  font-size: 50px;
  color: #FFFFFF;
}

.blue{
  background-color: #2A79C7;
  height: 500px;
}

.blue h2 {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 35px;
  margin-left: 25%;
  line-height: smaller;
  margin-top: 100px;
}

.blue p {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 15px;
  margin-left: 25%;
  width: 60%;
}

.pink {
  background-color: #D14699;
  height: 500px;
}

.pink h2 {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 35px;
  margin-left: 25%;
  line-height: smaller;
  margin-top: 100px;
}

.pink p {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 15px;
  margin-left: 25%;
  width: 60%;
}

.green {
  background-color: #74FAC8;
  height: 500px;
}

.green h2 {
  font-family: Inter;
  color: #3F4756;
  font-size: 35px;
  line-height: smaller;
  margin-left: 25%;
  margin-top: 100px;
}

.green p {
  color: #3F4756;
  font-family: Inter;
  font-size: 15px;
  margin-left: 25%;
  width: 60%;
}

/* smaller devices/phones */

@media (max-width: 800px) {

  .main {
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-gap: 20px;
  }

  .grey {
    display: none;
  }

  .blue, .green, .pink, .grey {
    height: fit-content;
    padding-bottom: 10%;
  }

  h2, p {
    height: fit-content;
    max-width: 90%;
    margin-left: 10%;
    margin-right: 10%;
  } 

}