@font-face {
    font-family: Inter;
    src: url(/FONTS/Inter-VariableFont_slnt\,wght.ttf);
}

h1 {
    font-family: Inter;
    font-size: 80px;
    font-weight: bolder;
    color: #FFFFFF;
}

p {
    font-family: Inter;
    font-size: 15px;
    color: #FFFFFF;
}

.main {
  margin-top: 20px;
  width: device-width;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.grey {
  background-color: #3F4756;
  height: 500px;
}

.grey h2 {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 35px;
  margin-left: 200px;
  line-height: smaller;
  }

.grey p {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 15px;
  margin-left: 200px;
}

.blue{
  background-color: #2A79C7;
  height: 700px;
}

.blue h2 {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 35px;
  margin-left: 200px;
  line-height: smaller;
  margin-top: 10px;
}

.blue h3 {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 35px;
  margin-left: 200px;
  line-height: smaller;
}

.blue p {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 15px;
  margin-left: 200px;
}

.pink {
  background-color: #D14699;
  height: 700px;
}

.pink h2 {
  color: #FFFFFF;
  font-size: 50px;
  margin-left: 200px;
  margin-top: 100px;
}
  
.pink h3 {
  font-family: Inter;
  color: #FFFFFF;
  font-size: 15px;
  line-height: smaller;
  margin-left: 200px;
}

.green {
  background-color: #74FAC8;
  height: 500px;
}

.green h2 {
  font-family: Inter;
  color: #3F4756;
  font-size: 35px;
  line-height: smaller;
  margin-left: 200px;
  margin-top: 100px;
}

.green p {
  color: #3F4756;
  font-family: Inter;
  font-size: 15px;
  margin-left: 200px;
}

.toph2 {
  margin-top: 100px;
}

.toph3 {
  margin-top: 115px;
}
