@font-face {
    font-family: Inter;
    src: url(/FONTS/Inter-VariableFont_slnt\,wght.ttf);
}

h1 {
    font-family: Inter;
    font-size: 80px;
    font-weight: bolder;
    color: #FFFFFF;
}

p {
    font-family: Inter;
    font-size: 15px;
    color: #FFFFFF;
}

.main {
    display: grid;
    grid-template-rows: 5;
    background: url(/images/exhibition.jpg) center no-repeat;
    object-fit: cover;
    height: 63rem;
    width: device-width;
    }

.quote { 
    font-family: Inter;
    font-size: 5rem;
    color: #3F4756;
    z-index: 1;
    margin-top: -1px;
    margin-left: 1rem;
    
}

.introduction {
    margin-top: 14rem;
    margin-left: 3.75rem;
    width: 450px;
}

.blue {
    background-color: #2A79C7;
    width: 36rem;
    height: 44rem;
    margin-top: 200px ;
    margin-left: 30%;
}

.white {
    background-color: #FFFFFF;
    width: 47rem;
    height: 6.5rem;
    margin-top: -720px;
    margin-left: 25%;
    border: solid 3px #3F4756;
    padding: 1.25rem;
    }

/* @media Tablets */

@media (max-width:1200px) {

    .quote { 
        font-family: Inter;
        font-size: 5rem;
        color: #3F4756;
        z-index: 1;
        margin-top: -1px;
        margin-left: 2rem;
        
    }
    
    .introduction {
        margin-top: 12rem;
        margin-left: 60px;
        width: 450px;
    }
    
    .blue {
        background-color: #2A79C7;
        width: 36rem;
        height: 44rem;
        margin-top: 200px ;
        margin-left: 15%;
    }
    
    .white {
        background-color: #FFFFFF;
        width: 47rem;
        height: 6.5rem;
        margin-top: -720px;
        margin-left: 10%;
        border: solid 3px #3F4756;
        padding: 1.25rem;
        }
    
}

/* @media small devices/phones */

@media (max-width:750px) {

    .quote { 
        font-family: Inter;
        font-size: 1.8rem;
        color: #3F4756;
        z-index: 1;
        margin-top: -1px;
        margin-left: 5%;
                
    }
    
    .introduction {
        margin-top: 10rem;
        margin-left: 10%;
        width: 80%;
    }
    
    .blue {
        background-color: #2A79C7;
        width: 80%;
        height: 55rem;
        margin-top: 12%;
        margin-left: 10%;
    }
    
    .white {
        background-color: #FFFFFF;
        width: 80%;
        height: 2.5rem;
        margin-top: -55rem;
        margin-left: 4%;
        border: solid 2px #3F4756;
        padding: 1.25rem;
        }
    
}