@font-face {
    font-family: Inter;
    src: url(/FONTS/Inter-VariableFont_slnt\,wght.ttf);
}

h1 {
    font-family: Inter;
    font-size: 80px;
    font-weight: bolder;
    color: #FFFFFF;
}

p {
    font-family: Inter;
    font-size: 15px;
    color: #FFFFFF;
}

.header {
    /*position: absolute;*/
    background-color: #3F4756;
    width: device-width;
    height: 175px;
    
    }

.indexlogo {
    position: relative;
    width: 130px;
    margin-top: 15px;
    margin-left: 250px;
}

.csm { 
    position: relative;
    margin-left: 400px;
    margin-top: -160px;
    width: 750px;
}

/*.decor {
    height: 175px;
    width: 401px;
    background-color: #d1d1d1AA;
    border: solid orange 1px;
    position: absolute;
    margin-top: -265px;
    margin-left: 1485px;
    z-index: 7;
}


.headerblue {
    align-items: ;
    width: 400px;
    height: 58px;
    color: #2A79C7;
}

.headergreen {
    color: #74FAC8;
    width: 350px;
    height: 58px;
}

.headerpink {
    color: #D14699;
    width: 300px;
    height: 58px;
    }*/


nav {
    height: 200px;
    width: 500px;
    margin-top: -150px;
    z-index: 1;
}


/* Dropdown Button */
.dropbtn {
    background-color: #2A79C700;
    color: white;
    padding: 16px;
    border: none;
    width: 98vw;
    height: 50px;
    overflow: hidden;
    text-align: right;
    font-family: Inter;
    font-weight: bold;
    z-index: 1;            
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    /*margin-top: -800px;
    overflow: hidden;*/
    }

    /* Dropdown Button */
    .dropbtn {
      background-color: #2A79C700;
      color: white;
      padding: 16px;
      font-size: 35px;
      border: none;
      z-index: 1;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      margin-right: 100px;
      width: 98vw;
      text-align: right;
      margin-right: 50px;
      overflow: hidden;
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #FFFFFF00;}
  
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: right;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #3F4756;
    font-family: Inter;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {}

/* end of header */

/* MAIN SECTION*/
.main {
    display: grid;
    grid-template-rows: 5;
    border-color: orangered;
    background: url(/images/exhibition.jpg) center no-repeat;
    height: 1000px;
    width: device-width;
    }

.quote { 
    font-family: Inter;
    font-size: 80px;
    color: #3F4756;
    z-index: 1;
    margin-top: -3px;
    margin-left: 30px;
}

.introduction {
    margin-top: 190px;
    margin-left: 60px;
    width: 450px;
}

.blue {
    background-color: #2A79C7;
    width: 585px;
    height: 700px;
    margin-top: 200px ;
    margin-left: 400px;
}

.white {
    background-color: #FFFFFF;
    width: 750px;
    height: 105px;
    margin-top: -720px;
    margin-left: 350px;
    }

.green {
    background-color: #74FAC8;
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

.pink {
    background-color: #D14699;
    width: 200px;
    height: 200px;
    margin-top: 10px;
}


.footer {
    background-color: #3F4756;
    width: 200px;
    height: 200px;
    margin-top: 10px;
}