@font-face {
    font-family: Inter;
    src: url(/FONTS/Inter-VariableFont_slnt\,wght.ttf);
}

h1 {
    font-family: Inter;
    font-size: 80px;
    font-weight: bolder;
    color: #FFFFFF;
}

p {
    font-family: Inter;
    font-size: 15px;
    color: #FFFFFF;
}

.header {
    /*position: absolute;*/
    background-color: #3F4756;
    width: device-width;
    height: 175px;
    }

.indexlogo {
    position: relative;
    width: 130px;
    margin-top: 15px;
    margin-left: 250px;
}

.csm { 
    position: relative;
    margin-left: 400px;
    margin-top: -160px;
    width: 750px;
}

/*.headerblue {
    position: relative;
    width: 400px;
    height: 58px;
    position: relative;
    color: #2A79C7;
    margin-left: 500px;
    margin-top: -200px;
    z-index: 2;
}

.headergreen {
    position: relative;
    color: #74FAC8;
    width: 350px;
    height: 58px;
    margin-left: 650px;
    margin-top: 50px;
    z-index: 2;
}

.headerpink {
    position: relative;
    color: #D14699;
    width: 300px;
    height: 58px;
    margin-left: 750px;
    margin-top: 100px;
    z-index: 2;
    }
*/

nav {
    /*position: relative;
    width: device-width;
    height: 50px;*/
    height: 200px;
    width: 500px;
    margin-top: -150px;
    z-index: 1;
}


/* Dropdown Button */
.dropbtn {
    background-color: #2A79C700;
    color: white;
    padding: 16px;
    border: none;
    width: 98vw;
    height: 50px;
    overflow: hidden;
    text-align: right;
    font-family: Inter;
    font-weight: bold;
            
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    /*margin-top: -800px;
    overflow: hidden;*/
    }

    /* Dropdown Button */
    .dropbtn {
      background-color: #2A79C700;
      color: white;
      padding: 16px;
      font-size: 35px;
      border: none;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      margin-right: 100px;
      width: 98vw;
      text-align: right;
      margin-right: 50px;
      overflow: hidden;
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #FFFFFF00;}
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: right;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #3F4756;
    font-family: Inter;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {}

/* end of header */

/* MAIN */
.main {
  margin-top: 20px;
  width: device-width;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.grey {
  background-color: #3F4756;
  height: 400px;
}
.blue{
  background-color: #2A79C7;
  height: 400px;
}
.pink {
  background-color: #D14699;
  height: 400px;
}
  
.green {
  background-color: #74FAC8;
  height: 400px;
}

/* end of main*/

/* FOOTER */
.footer {
  background-color: #3F4756;
  width: device-width;
  height: 200px;
  margin-top: 10px;
}